<div class="centerDiv">
  <h1>Wachtwoord veranderen</h1>

  <div id="login_form">

    <form action="">
      <div class="input-field">
        <input type="password" id="newPassword" required [(ngModel)]="changePassword.newPassword" name="password"/>
        <label for="newPassword">Nieuw wachtwoord (minimaal acht tekens)</label>
      </div>
    </form>

    <form action="">
      <div class="input-field">
        <input type="password" id="repeatedPassword" required [(ngModel)]="changePassword.repeatNewPassword"
               name="password"/>
        <label for="repeatedPassword">Herhaal nieuw wachtwoord</label>
      </div>
    </form>

    <button (click)="tryChangePassword()">Verander wachtwoord</button>
  </div>
</div>



