<div *ngIf="account">
  <div id="pageTitle">
    <h1>Wachtwoord veranderen voor {{ account.username }}</h1>
    <hr size="2" noshade>
  </div>

  <div id="formDiv">
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <div style="padding-bottom: 20px">
        <label for="password">Nieuw Wachtwoord</label>
        <br>
        <input type="password"
               id="password"
               formControlName="password">
      </div>
      <div>
        <label for="repeatNewPassword">Herhaal nieuw wachtwoord</label>
        <br>
        <input type="password"
               id="repeatNewPassword"
               formControlName="passwordAgain">
      </div>
      <div class="warningMessage" *ngIf="accountForm.get('password').value !== accountForm.get('passwordAgain').value">
        <p>Wachtwoorden komen niet met elkaar overeen</p>
      </div>
      <div class="warningMessage" *ngIf="accountForm.get('password').value.length < 8">
        <p>Wachtwoord moet minimaal acht tekens lang zijn</p>
      </div>
      <div style="display: inline;">
        <button type="submit" [disabled]="!accountForm.valid || accountForm.get('password').value !== accountForm.get('passwordAgain').value">Wachtwoord veranderen</button>
        <button routerLink="/admin/accounts">Terug naar overzicht</button>
      </div>
    </form>
  </div>
</div>
