<div class="topnav" id="myTopnav">
  <a style="padding-top: 5px" *ngIf="!isLoggedIn()"><img
    src="https://cdn.worldvectorlogo.com/logos/hogeschool-leiden.svg" width="45px"></a>
  <a style="padding-top: 5px" *ngIf="isLoggedIn()" routerLink="/home" id="homeBtn"><img
    src="https://cdn.worldvectorlogo.com/logos/hogeschool-leiden.svg" width="45px"></a>
  <a *ngIf="!isLoggedIn()" id="loginBlock">Login</a>
  <div class="dropdown" *ngIf="isLoggedIn()" id="userDropdown">
    <button class="dropbtn">{{loginService.loggedInAccount ? loginService.loggedInAccount.username : 'ACCOUNT'}}</button>
    <div class="dropdown-content">
      <!--<a>Gegevens</a>-->
      <a routerLink="/admin" *ngIf="isAdmin()">Admin Paneel</a>
      <a (click)="logOut()">Uitloggen</a>
    </div>
  </div>
  <div *ngIf="isLoggedIn()">

    <div class="navItems" *ngIf="!isOnAdmin()">
      <a routerLink="/highscore">HighScore</a>
       <a routerLink="/puzzleBuilder" *ngIf="isProduction() || isAdmin()">Puzzel</a>
       <a routerLink="/puzzlelist" *ngIf="isProduction() || isAdmin()">Opdrachten</a>
      <a routerLink="/sandboxlist" *ngIf="isSandbox() || isAdmin()">Zandbak</a>
      <a>Achievements</a>
      <a routerLink="/documentoverview">Documenten</a>
      <a routerLink="/manual">Handleiding</a>
    </div>

    <div class="navItems" *ngIf="isOnAdmin()">
      <a routerLink="/admin/accounts">Accounts</a>
      <a routerLink="/admin/omgevingStatus">Omgeving status</a>
      <a routerLink="/admin/progress">Voortgang</a>
      <a routerLink="/admin/database">Database</a>
      <a routerLink="/admin/puzzlebuilder">Zandbak beheer</a>
      <a routerLink="/admin">Admin home</a>
    </div>

    <div id="responsiveDropdown">

      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <div *ngIf="!isOnAdmin()">
          <a routerLink="/highscore">HighScore</a>
          <a routerLink="/puzzleBuilder" *ngIf="isProduction()">Puzzel</a>
          <a routerLink="/puzzlelist" *ngIf="isProduction()">Opdrachten</a>
          <a routerLink="/sandboxlist" *ngIf="isSandbox()">Zandbak</a>
          <a>Achievements</a>
          <a routerLink="/documentoverview">Documenten</a>
            <a routerLink="/manual">Handleiding</a>

          </div>

          <div *ngIf="isOnAdmin()">
            <a routerLink="/admin/accounts">Accounts</a>
            <a routerLink="/admin/omgevingStatus">Omgeving status</a>
            <a routerLink="/admin/progress">Voortgang</a>
            <a routerLink="/admin/database">Database</a>
            <a routerLink="/admin/puzzlebuilder">Zandbak beheer</a>
            <a routerLink="/admin">Admin home</a>
          </div>

        </div>
      </div>

    </div>

  </div>


</div>
