<div id="pageTitle">
  <h1>Account Overzicht</h1>
  <hr size="2" noshade>
</div>

<div id="accountListDiv">
  <div id="tableDiv">
    <table id="accountList">
      <tr>
        <th>Accounts</th>
      </tr>
      <tr *ngFor="let account of accounts">
        <td (click)="selectNewAccount(account)">{{ account.username }}</td>
      </tr>
    </table>
  </div>


  <div style="margin-top: 25%">
    <button routerLink="../create-account">Account toevoegen</button>
    <button routerLink="../create-accounts-in-bulk">Meerdere accounts toevoegen</button>
  </div>

</div>


<div id="accountDetailDiv">
  <!--<p>Account Informatie</p>-->
  <app-account-details
    [account]="selectedAccount"
    *ngIf="selectedAccount"
  ></app-account-details>
</div>

